{% extends "blog/base.html" %}
{% block content %}
    <div class=""content-section>
        <form method="POST">
            {% csrf_token %}<!--this is a security token that protects our form-->
            <fieldset class="form-group">
                <legend class="borderbottom mb-4">Join Today</legend>
                {{ form.as_p }}<!--this displays our form-->
            </fieldset>
            <div class="form-group">
                <botton class="btn btn-outline-info" type="submit">Sign Up</botton>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>

    </div>
{% endblock content %}
